body{font-family: 'Poppins', sans-serif; width: 100%; text-align: center; margin: auto;}
header{text-align: center;height: 150px; width: 100%; font-size: 23px; font-weight: bold; background-color: rgb(1, 148, 185); color: white; margin: auto; border: 1px solid; border-radius: 20px; }
h1{text-align: center; font: 40px;}
ul a{list-style-type: none; color: white; text-decoration: none; margin-top: auto;}
li{display: inline-block; height: 20px; width: 150px; padding:12px;  text-align: center;  color: white; background-color: rgb(168, 168, 168); border-radius: 20px; line-height: 15px; font-size: 12px;}

#intro{ text-align: center; height: 100%; margin: auto;  border: 1px solid; width: 50%;}
img{
    float: right;
    margin: 0px 0px 15px 20px;
  }
  #footer{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color:rgb(1, 148, 185);
    margin-top: 300px;}

